[Unit]
Description=Droidian fingerprint daemon
Requires=lxc@android.service
After=dbus.socket

[Service]
Type=dbus
BusName=org.droidian.fingerprint
ExecStartPre=/usr/bin/waitforservice init.svc.vendor.fps_hal*
ExecStart=/usr/bin/droidian-fpd
Restart=always

[Install]
WantedBy=multi-user.target
