[Unit]
Description=Droidian fingerprint daemon
Requires=lxc@android.service
After=dbus.socket

[Service]
Type=dbus
BusName=org.droidian.fingerprint
ExecStartPre=/usr/bin/binder-wait android.hardware.biometrics.fingerprint@2.1::IBiometricsFingerprint/default
ExecStart=/usr/bin/droidian-fpd
Restart=always

[Install]
WantedBy=multi-user.target
